// デフォルトキーマップ（大西配列、Win優先、ANSI方式）
// キーマップを更新する方法は https://o24.works/fish/guide を参照
// 視覚的に編集するには https://o24.works/fish/editor を参照


// 定義を呼んでくる
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>


// 特殊入力の挙動を調整できる

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <225>;
    quick-tap-ms = <200>;
    require-prior-idle-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <175>;
    quick-tap-ms = <200>;
};

&sk {
};

&sl {
};

&caps_word {
};

&key_repeat {
};


/ {
    // 独自の入力を定義できる（上級者向け）

    behaviors {
    };

    macros {
    };

    conditional_layers {
    };


    // 複数キーの同時押しに特別の入力を設定できる
    // キー番号早見表：
    //       0  1  2  3
    // 4  5  6  7  8  9
    //   10 11 12 13
    //            14 15

    combos {
        compatible = "zmk,combos";
        timeout-ms = <100>;
        require-prior-idle-ms = <150>;

        combo_reset {
            key-positions = <3 4 9>;
            bindings = <&bootloader>;
        };

        combo_studio_unlock {
            key-positions = <10 11 12 13>;
            bindings = <&studio_unlock>;
        };
    };
    

    // キーに入力を割り当てる
    // 型（&...）は https://zmk.dev/docs/behaviors/... を参照
    // キーコードは https://zmk.dev/docs/codes/... を参照

    keymap {
        compatible = "zmk,keymap";

        layer_base {
            bindings = <
                        &kp W       &kp E       &kp R       &kp T
&kp Q       &kp A       &kp S       &kp D       &kp F       &kp G
            &kp Z       &kp X       &kp C       &kp V
                                                &kp SPACE   &lt 1 TAB
            >;
        };

        layer_system {
            bindings = <
                        &bt BT_SEL 4 &bt BT_CLR &bt BT_CLR_ALL &out OUT_TOG
&none       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_1 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_2 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_3 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_4 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_5 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_6 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_7 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };

        layer_extra_8 {
            bindings = <
                        &none       &none       &none       &none
&none       &none       &none       &none       &none       &none
            &none       &none       &none       &none
                                                &none       &none
            >;
        };
    };
};
